### Exercise 1Â¶
Queries to get maximum values from surrogate primary keys.

In [1]:
##load connection 
%load_ext sql

In [2]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [3]:
##
%sql SELECT * FROM information_schema.tables LIMIT 10

10 rows affected.

[('mako', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'usersa', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'user_info', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [6]:
%sql select count(customer_id) from customers;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(12435,)]

In [8]:
%sql select max(customer_id) from customers;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(12435,)]

In [9]:
%%sql

SELECT max(category_id) FROM categories;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(58,)]

In [10]:
%sql select count(category_id) from categories;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(58,)]

In [11]:
%%sql

SELECT max(department_id) FROM departments;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(7,)]

In [14]:
%%sql

SELECT max(product_id) FROM products;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(1345,)]

In [13]:
%sql select count(product_id) from products;

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(1345,)]

#### Exercise 2 
Commands to add sequences with START WITH pointing to the maximum value for the corresponding surrogate primary key fields. Make sure to use meaningful names to sequences TABLENAME_SURROGATEFIELD_seq (example: users_user_id_seq for users.user_id)

In [20]:
%%sql

CREATE SEQUENCE categories_category_id_seq
START WITH 59
INCREMENT BY 1;

 * postgresql://mako:***@pg.itversity.com:5432/mako
(psycopg2.errors.DuplicateTable) relation "categories_category_id_seq" already exists

[SQL: CREATE SEQUENCE categories_category_id_seq START WITH 59
INCREMENT BY 1;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [24]:
%%sql 

CREATE SEQUENCE departments_department_id_sq
START WITH 10
INCREMENT BY 1;

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [21]:
%%sql

CREATE SEQUENCE customers_customer_id_seq
START WITH 12436
INCREMENT BY 1;

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

#### Exercise 3
Commands to alter sequences to bind them to corresponding surrogate primary key fields.

In [22]:
%%sql

ALTER TABLE categories 
    ALTER COLUMN category_id 
        SET DEFAULT nextval('categories_category_id_seq');

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [25]:
%%sql 
ALTER TABLE departments 
  ALTER COLUMN department_id 
    SET DEFAULT nextval('departments_department_id_sq');

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [27]:
%sql select * from departments

 * postgresql://mako:***@pg.itversity.com:5432/mako
6 rows affected.

[(2, 'Fitness'),
 (3, 'Footwear'),
 (4, 'Apparel'),
 (5, 'Golf'),
 (6, 'Outdoors'),
 (7, 'Fan Shop')]

In [28]:
%sql select * from categories

 * postgresql://mako:***@pg.itversity.com:5432/mako
58 rows affected.

[(1, 2, 'Football'),
 (2, 2, 'Soccer'),
 (3, 2, 'Baseball & Softball'),
 (4, 2, 'Basketball'),
 (5, 2, 'Lacrosse'),
 (6, 2, 'Tennis & Racquet'),
 (7, 2, 'Hockey'),
 (8, 2, 'More Sports'),
 (9, 3, 'Cardio Equipment'),
 (10, 3, 'Strength Training'),
 (11, 3, 'Fitness Accessories'),
 (12, 3, 'Boxing & MMA'),
 (13, 3, 'Electronics'),
 (14, 3, 'Yoga & Pilates'),
 (15, 3, 'Training by Sport'),
 (16, 3, 'As Seen on  TV!'),
 (17, 4, 'Cleats'),
 (18, 4, "Men's Footwear"),
 (19, 4, "Women's Footwear"),
 (20, 4, "Kids' Footwear"),
 (21, 4, 'Featured Shops'),
 (22, 4, 'Accessories'),
 (23, 5, "Men's Apparel"),
 (24, 5, "Women's Apparel"),
 (25, 5, "Boys' Apparel"),
 (26, 5, "Girls' Apparel"),
 (27, 5, 'Accessories'),
 (28, 5, 'Top Brands'),
 (29, 5, 'Shop By Sport'),
 (30, 6, "Men's Golf Clubs"),
 (31, 6, "Women's Golf Clubs"),
 (32, 6, 'Golf Apparel'),
 (33, 6, 'Golf Shoes'),
 (34, 6, 'Golf Bags & Carts'),
 (35, 6, 'Golf Gloves'),
 (36, 6, 'Golf Balls'),
 (37, 6, 'Electronics'),
 (38, 6, "Kids' Golf Clubs"),
 (39, 6, 'Team Shop'),
 (40, 6, 'Accessories'),
 (41, 6, 'Trade-In'),
 (42, 7, 'Bike & Skate Shop'),
 (43, 7, 'Camping & Hiking'),
 (44, 7, 'Hunting & Shooting'),
 (45, 7, 'Fishing'),
 (46, 7, 'Indoor/Outdoor Games'),
 (47, 7, 'Boating'),
 (48, 7, 'Water Sports'),
 (49, 8, 'MLB'),
 (50, 8, 'NFL'),
 (51, 8, 'NHL'),
 (52, 8, 'NBA'),
 (53, 8, 'NCAA'),
 (54, 8, 'MLS'),
 (55, 8, 'International Soccer'),
 (56, 8, 'World Cup Shop'),
 (57, 8, 'MLB Players'),
 (58, 8, 'NFL Players')]

#### Exercise 4

Add Foreign Key constraints to the tables.

Validate if the tables have data violataing foreign key constraints (Hint: You can use left outer join to find rows in child table but not in parent table)
Alter tables to add foreign keys as specified.
Here are the relationships for your reference.
orders.order_customer_id to customers.customer_id
order_items.order_item_order_id to orders.order_id
order_items.order_item_product_id to products.product_id
Solution should contain the following:
Commands to add foreign keys to the tables.

In [29]:
%%sql

ALTER TABLE orders
ADD CONSTRAINT orders_customers_fk 
    FOREIGN KEY (order_customer_id)
    REFERENCES customers(customer_id);

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [30]:
%%sql

ALTER TABLE order_items
ADD CONSTRAINT order_items_orders_fk 
    FOREIGN KEY (order_item_order_id)
    REFERENCES orders(order_id);

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [31]:
%%sql

ALTER TABLE order_items
ADD CONSTRAINT order_items_products_fk 
    FOREIGN KEY (order_item_product_id)
    REFERENCES products(product_id);

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]