## Day one 

### Filtering Data

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [4]:
%sql SELECT * FROM information_schema.tables LIMIT 10

10 rows affected.

[('mako', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('mako', 'pg_catalog', 'pg_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)]

In [7]:
%sql select * from orders limit 10 ;

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [8]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = 'mako' 
    AND table_name = 'orders'

 * postgresql://mako:***@pg.itversity.com:5432/mako
4 rows affected.

[('mako', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'mako', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('mako', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'mako', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('mako', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'mako', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('mako', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'mako', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [9]:
%%sql 

SELECT order_customer_id, order_date, order_status 
FROM orders 
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(11599, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (256, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (12111, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (8827, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (11318, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (7130, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (4530, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (2911, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING'),
 (5657, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (5648, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT')]

In [10]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM'), 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [11]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [12]:
%%sql 

SELECT DISTINCT to_char(order_date, 'yyyy-MM') AS order_month 
FROM orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
13 rows affected.

[('2014-01',),
 ('2014-05',),
 ('2013-12',),
 ('2013-11',),
 ('2014-04',),
 ('2014-07',),
 ('2014-03',),
 ('2013-08',),
 ('2013-10',),
 ('2013-07',),
 ('2014-02',),
 ('2013-09',),
 ('2014-06',)]

In [13]:
%sql SELECT count(1) FROM orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(68883,)]

In [14]:
%%sql 

SELECT count(DISTINCT to_char(order_date, 'yyyy-MM')) AS distinct_month_count 
FROM orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(13,)]

In [15]:
%sql select * from orders limit 1

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED')]

In [16]:
##Filtering data 
%sql select count(order_id) from orders where order_status ='COMPLETE';

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(22899,)]

In [17]:
##Filtering data 
%sql select count(order_id) from orders where order_status ='CLOSED';

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(7556,)]

In [18]:
%%sql

SELECT DISTINCT order_status
FROM orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
9 rows affected.

[('COMPLETE',),
 ('ON_HOLD',),
 ('PENDING_PAYMENT',),
 ('PENDING',),
 ('CLOSED',),
 ('CANCELED',),
 ('PROCESSING',),
 ('PAYMENT_REVIEW',),
 ('SUSPECTED_FRAUD',)]

In [19]:
%%sql 
select * from orders where order_status in ('COMPLETE','CLOSED') limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (12, datetime.datetime(2013, 7, 25, 0, 0), 1837, 'CLOSED'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (18, datetime.datetime(2013, 7, 25, 0, 0), 1205, 'CLOSED')]

In [20]:
%%sql

SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(30455,)]

In [21]:
%%sql 

SELECT count(1) FROM orders 
WHERE order_status = 'COMPLETE' OR order_status = 'CLOSED'

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(30455,)]

In [22]:
%%sql

SELECT * FROM orders
WHERE order_date = '2014-01-01'
LIMIT 3

 * postgresql://mako:***@pg.itversity.com:5432/mako
3 rows affected.

[(25876, datetime.datetime(2014, 1, 1, 0, 0), 3414, 'PENDING_PAYMENT'),
 (25877, datetime.datetime(2014, 1, 1, 0, 0), 5549, 'PENDING_PAYMENT'),
 (25878, datetime.datetime(2014, 1, 1, 0, 0), 9084, 'PENDING')]

In [23]:
%%sql

SELECT * FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM-dd') LIKE '2014-01%'
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 6735, 'COMPLETE'),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 10045, 'COMPLETE'),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 3037, 'CLOSED'),
 (25895, datetime.datetime(2014, 1, 1, 0, 0), 1044, 'COMPLETE'),
 (25897, datetime.datetime(2014, 1, 1, 0, 0), 6405, 'COMPLETE'),
 (25898, datetime.datetime(2014, 1, 1, 0, 0), 3950, 'COMPLETE'),
 (25899, datetime.datetime(2014, 1, 1, 0, 0), 8068, 'CLOSED'),
 (25900, datetime.datetime(2014, 1, 1, 0, 0), 2382, 'CLOSED'),
 (25901, datetime.datetime(2014, 1, 1, 0, 0), 3099, 'COMPLETE')]

In [24]:
%%sql

SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM-dd') LIKE '2014-01%'

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(2544,)]

In [25]:
%%sql

SELECT * FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 6735, 'COMPLETE'),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 10045, 'COMPLETE'),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 3037, 'CLOSED'),
 (25895, datetime.datetime(2014, 1, 1, 0, 0), 1044, 'COMPLETE'),
 (25897, datetime.datetime(2014, 1, 1, 0, 0), 6405, 'COMPLETE'),
 (25898, datetime.datetime(2014, 1, 1, 0, 0), 3950, 'COMPLETE'),
 (25899, datetime.datetime(2014, 1, 1, 0, 0), 8068, 'CLOSED'),
 (25900, datetime.datetime(2014, 1, 1, 0, 0), 2382, 'CLOSED'),
 (25901, datetime.datetime(2014, 1, 1, 0, 0), 3099, 'COMPLETE')]

In [26]:
%%sql

SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(2544,)]

In [ ]:
%%sql

SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM-dd') ~ '2014-01'