### Joining Tables â€“ Inner

In [2]:
##load connection 
%load_ext sql

In [3]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [4]:
##
%sql SELECT * FROM information_schema.tables LIMIT 10

10 rows affected.

[('mako', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('mako', 'pg_catalog', 'pg_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)]

In [24]:
%%sql 
SELECT o.order_id , o.order_date,o.order_status,oi.order_item_subtotal 
from   
orders o  Join order_items oi 
ON o.order_id = oi.order_item_order_id limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.95)]

%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = 'mako' 
    AND table_name = 'orders'

In [28]:
%%sql 

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal from orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id JOIN products p ON p.product_id =oi.order_item_product_id limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.95)]

In [29]:
%sql SELECT count(1) FROM order_items

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(172198,)]

In [30]:
%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(172198,)]

In [31]:
%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.95),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 99.96),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 129.99)]

In [32]:
%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(75408,)]