## CTAS - Create Table as Select

Let us understand details related to CTAS or Create Table As Select.

* CTAS is primarily used to create tables based on query results.
* Following are some of the use cases for which we typically use CTAS.
  * Taking back up of tables for troubleshooting and debugging performance issues.
  * Reorganizing the tables for performance tuning.
  * Getting query results into a table for data analysis as well as checking data quality.
* We cannot specify column names and data types as part of `CREATE TABLE` clause in CTAS. It will pick the column names from the `SELECT` clause.
* It is a good practice to specify meaningful aliases as part of the `SELECT` clause for derived values.
* Also it is a good practice to explicitly type cast to the desired data type for derived values.

In [1]:
%load_ext sql

In [2]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [36]:
%%sql

DROP TABLE IF EXISTS customers_backup

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [7]:
%%sql 
DROP TABLE IF EXISTS orders_backup

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [8]:
%%sql 
CREATE TABLE orders_backup_a 
as 
select * from orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
68883 rows affected.

[]

In [12]:
%%sql 
select * from orders_backup_a limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(4068, datetime.datetime(2013, 8, 17, 0, 0), 12293, 'pending'),
 (8926, datetime.datetime(2013, 9, 19, 0, 0), 10517, 'on_hold'),
 (14047, datetime.datetime(2013, 10, 20, 0, 0), 6473, 'closed'),
 (19552, datetime.datetime(2013, 11, 23, 0, 0), 7057, 'on_hold'),
 (20471, datetime.datetime(2013, 11, 29, 0, 0), 9957, 'complete'),
 (24016, datetime.datetime(2013, 12, 21, 0, 0), 604, 'complete'),
 (24408, datetime.datetime(2013, 12, 23, 0, 0), 5799, 'closed'),
 (25063, datetime.datetime(2013, 12, 27, 0, 0), 5593, 'complete'),
 (26112, datetime.datetime(2014, 1, 3, 0, 0), 333, 'canceled'),
 (50404, datetime.datetime(2014, 6, 6, 0, 0), 8773, 'processing')]

In [37]:
%%sql

CREATE TABLE customers_backup
AS
SELECT * FROM customers

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
12435 rows affected.

[]

In [38]:
%%sql

DROP TABLE IF EXISTS orders_backup

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [3]:
%%sql

CREATE TABLE orders_backup
AS
SELECT order_id,
    to_char(order_date, 'yyyy')::int AS order_year,
    to_char(order_date, 'MM')::int AS order_month,
    to_char(order_date, 'dd')::int AS order_day_of_month,
    to_char(order_date, 'DDD')::int AS order_day_of_year,
    order_customer_id,
    order_status
FROM orders

68883 rows affected.

[]

In [4]:
%%sql

SELECT * FROM orders_backup LIMIT 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(4068, 2013, 8, 17, 229, 12293, 'pending'),
 (8926, 2013, 9, 19, 262, 10517, 'on_hold'),
 (14047, 2013, 10, 20, 293, 6473, 'closed'),
 (19552, 2013, 11, 23, 327, 7057, 'on_hold'),
 (20471, 2013, 11, 29, 333, 9957, 'complete'),
 (24016, 2013, 12, 21, 355, 604, 'complete'),
 (24408, 2013, 12, 23, 357, 5799, 'closed'),
 (25063, 2013, 12, 27, 361, 5593, 'complete'),
 (26112, 2014, 1, 3, 3, 333, 'canceled'),
 (50404, 2014, 6, 6, 157, 8773, 'processing')]

```{note}
At times we have to create empty table with only structure of the table. We can specify always false condition such as `1 = 2` as part of `WHERE` clause using CTAS.
```

In [41]:
%%sql

DROP TABLE IF EXISTS order_items_empty

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [42]:
%%sql

CREATE TABLE order_items_empty
AS
SELECT * FROM order_items WHERE 1 = 2

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
0 rows affected.

[]

In [43]:
%%sql

SELECT count(1) FROM order_items_empty

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(0,)]

```{note}
Keeping databases clean is very important. It is a good practice to clean up any temporary tables created for learning or troubleshooting issues.

In this case all the tables created using CTAS are dropped
```

In [44]:
%%sql

DROP TABLE IF EXISTS customers_backup;
DROP TABLE IF EXISTS orders_backup;
DROP TABLE IF EXISTS order_items_empty;

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.
Done.
Done.

[]