## Date Manipulation Functions

Let us go through some of the important date manipulation functions.

* Getting Current Date and Timestamp
* Date Arithmetic using `INTERVAL` and `-` operator
* Getting beginning date or time using `date_trunc`
* Extracting information using `to_char` as well as calendar functions.
* Dealing with unix timestamp using `from_unixtime`, `to_unix_timestamp`

### Getting Current Date and Timestamp

Let us understand how to get the details about current or today's date as well as current timestamp.

In [1]:
%load_ext sql

In [2]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

* `current_date` is the function or operator which will return today's date.
* `current_timestamp` is the function or operator which will return current time up to milliseconds.
* These are not like other functions and do not use **()** at the end.
* There is a format associated with date and timestamp.
  * Date - `yyyy-MM-dd`
  * Timestamp - `yyyy-MM-dd HH:mm:ss.SSS`
* We can apply all string manipulation functions on date or timestamp once they are typecasted to strings using `varchar`.

In [3]:
%%sql

SELECT current_date AS current_date

1 rows affected.

[(datetime.date(2022, 8, 18),)]

In [4]:
%%sql 
SELECT current_timestamp as current_timestamp

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 8, 48, 36, 517284, tzinfo=datetime.timezone.utc),)]

```{note}
Example of applying string manipulation functions on dates. However, it is not a good practice. Postgres provide functions on dates or timestamps for most of the common requirements.
```

In [5]:
%%sql 
SELECT substring(current_timestamp::varchar,1,10) as current_date

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[('2022-08-18',)]

### Date Arithmetic
Let us understand how to perform arithmetic on dates or timestamps.

* We can add or subtract days or months or years from date or timestamp by using special operator called as `INTERVAL`.
* We can also add or subtract hours, minutes, seconds etc from date or timestamp using `INTERVAL`.
* We can combine multiple criteria in one operation using `INTERVAL`
* We can get difference between 2 dates or timestamps using minus (`-`) operator.

##### * Add current date 32 days

In [12]:
%sql select current_date as current_date

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.date(2022, 8, 18),)]

In [14]:
%%sql 
SELECT current_date + INTERVAL '32 Days' as result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 9, 19, 0, 0),)]

##### * adding one month in current date

In [15]:
%%sql 
SELECT current_date + INTERVAL '1 Month' as result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 9, 18, 0, 0),)]

##### * Substract one month in the current date

In [16]:
%%sql 
SELECT current_date - INTERVAL '1 MONTH' as result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 7, 18, 0, 0),)]

In [17]:
%%sql

SELECT current_date - INTERVAL '730 DAYS' AS result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2020, 8, 18, 0, 0),)]

In [18]:
%%sql

SELECT current_date + INTERVAL '3 MONTHS' AS result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 11, 18, 0, 0),)]

In [19]:
%%sql

SELECT current_timestamp + INTERVAL '3 MONTHS' AS result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 11, 18, 8, 56, 42, 83946, tzinfo=datetime.timezone.utc),)]

In [20]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS' AS result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 18, 56, 46, 498642, tzinfo=datetime.timezone.utc),)]

In [21]:
%%sql

SELECT current_timestamp + INTERVAL '10 MINUTES' AS result

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 9, 6, 49, 108654, tzinfo=datetime.timezone.utc),)]

### Beginning Date or Time - date_trunc
Let us understand how to use `date_trunc` on dates or timestamps and get beginning date or time.

* We can use **MONTH** to get beginning date of the month.
* **YEAR** can be used to get begining date of the year.

In [24]:
%%sql
select order_date from orders limit 20

 * postgresql://mako:***@pg.itversity.com:5432/mako
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),),
 (datetime.datetime(2013, 7, 25, 0, 0),)]

In [25]:
%%sql 
SELECT date_trunc('Month', order_date) from orders limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),),
 (datetime.datetime(2013, 7, 1, 0, 0),)]

In [22]:
%%sql

SELECT date_trunc('YEAR', current_date) AS year_beginning

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 1, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [23]:
%%sql

SELECT date_trunc('MONTH', current_date) AS month_beginning

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [102]:
%%sql

SELECT date_trunc('WEEK', current_date) AS week_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 11, 30, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [103]:
%%sql

SELECT date_trunc('DAY', current_date) AS day_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [104]:
%%sql

SELECT date_trunc('HOUR', current_timestamp) AS hour_beginning

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2020, 12, 1, 10, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

### Extracting information using to_char

Let us understand how to use `to_char` to extract information from date or timestamp.

Here is how we can get date related information such as year, month, day etc from date or timestamp.

In [26]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 9, 15, 16, 652578, tzinfo=datetime.timezone.utc),)]

In [27]:
%%sql 
select to_char(current_date , 'yyyy') as year

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[('2022',)]

In [32]:
%%sql 
select order_date,to_char(order_date , 'yyyy') as year , to_char(order_date,'mm') as month , 
   to_char(order_date , 'dd') as day from orders limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25'),
 (datetime.datetime(2013, 7, 25, 0, 0), '2013', '07', '25')]

```{note}
When we use `Day` to get the complete name of a day, it will return 9 character string by padding with spaces.
```

In [33]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Day') AS dayname

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 9, 18, 25, 790293, tzinfo=datetime.timezone.utc), 'Thursday ')]

In [34]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char('2020-11-17'::date, 'Day') AS dayname,
    length(to_char('2020-11-17'::date, 'Day')) AS dayname_length,
    length(trim(to_char('2020-11-17'::date, 'Day'))) AS dayname_trimmed_length

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(datetime.datetime(2022, 8, 18, 9, 18, 27, 337404, tzinfo=datetime.timezone.utc), 'Tuesday  ', 9, 7)]

### Extracting information - extract

We can get year, month, day etc from date or timestamp using `extract` function. For almost all these scenarios such as getting year, month, day etc we can use `to_char` as well.

* Let us see the usage of `extract` to get information such as year, quarter, month, week, day, hour etc.
* We can also use `date_part` in place of `extract`. However there is subtle difference between them with respect to the syntax.

In [35]:
%%sql

SELECT extract(century FROM current_date) AS century

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(21.0,)]

In [36]:
%%sql

SELECT date_part('century', current_date) AS century

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(21.0,)]

In [37]:
%%sql

SELECT extract(decade FROM current_date) AS decade

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(202.0,)]

In [38]:
%%sql

SELECT date_part('decade', current_date) AS century

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(202.0,)]

In [138]:
%%sql

SELECT extract(year FROM current_date) AS year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(2020.0,)]

In [139]:
%%sql

SELECT extract(quarter FROM current_date) AS quarter

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(4.0,)]

In [140]:
%%sql

SELECT extract(month FROM current_date) AS month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(12.0,)]

In [141]:
%%sql

SELECT extract(week FROM current_date) AS week

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(49.0,)]

In [142]:
%%sql

SELECT extract(day FROM current_date) AS day

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1.0,)]

In [143]:
%%sql

SELECT extract(doy FROM current_date) AS day_of_year

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(336.0,)]

In [144]:
%%sql

SELECT extract(dow FROM current_date) AS day_of_week

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(2.0,)]

In [145]:
%%sql

SELECT extract(hour FROM current_timestamp) AS hour

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(10.0,)]

In [146]:
%%sql

SELECT extract(minute FROM current_timestamp) AS minute

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(55.0,)]

In [147]:
%%sql

SELECT extract(second FROM current_timestamp) AS second

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(19.740129,)]

In [148]:
%%sql

SELECT extract(milliseconds FROM current_timestamp) AS millis

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(19747.729,)]

### Dealing with Unix Timestamp

Let us go through the functions that can be used to deal with Unix Timestamp.

* `extract` with `epoch` can be used to convert Unix epoch to regular timestamp. We can also use `date_part`;
* `to_timestamp` can be used to convert timestamp to Unix epoch.
* We can get Unix epoch or Unix timestamp by running `date '+%s'` in Unix/Linux terminal

Let us sww how we can use functions such as `extract` or `to_timestamp` to convert between timestamp and Unix timestamp or epoch.

* We can unix epoch in Unix/Linux terminal using `date '+%s'`

In [39]:
%%sql

SELECT extract(epoch FROM current_date) AS date_epoch

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(1660780800.0,)]

In [153]:
%%sql

SELECT date_part('epoch', current_date) AS date_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1606780800.0,)]

In [154]:
%%sql

SELECT extract(epoch FROM '2019-04-30 18:18:51'::timestamp) AS unixtime

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(1556648331.0,)]

In [155]:
%%sql

SELECT to_timestamp(1556662731) AS time_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 22, 18, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),)]

In [156]:
%%sql

SELECT to_timestamp(1556662731)::date AS time_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.date(2019, 4, 30),)]

In [157]:
%%sql

SELECT to_char(to_timestamp(1556662731), 'yyyyMM')::int AS yyyyMM_from_epoch

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(201904,)]