### Hash Partitioning

In [3]:
##load connection 
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [4]:
##
%sql SELECT * FROM information_schema.tables LIMIT 10

10 rows affected.

[('mako', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'users_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'usersa', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'user_info', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('mako', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [5]:
%%sql

CREATE TABLE users_hash_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id)
) PARTITION BY HASH(user_id)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [6]:
%%sql 
CREATE TABLE users_hash_module_8 
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 0)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [8]:
%%sql 
CREATE TABLE users_hash_part_1_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8,remainder 1)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [9]:
%%sql 

CREATE TABLE users_hash_part_2_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8,remainder 2)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [11]:
%%sql 
CREATE TABLE users_hash_part_3_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8, remainder 3)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [13]:
%%sql 
CREATE TABLE users_hash_part_4_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8, remainder 4)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [15]:
%%sql 
CREATE TABLE users_hash_part_5_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8, remainder 5)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [17]:
%%sql 
CREATE TABLE users_hash_part_6_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8, remainder 6)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [18]:
%%sql 
CREATE TABLE users_hash_part_7_of_8 
PARTITION OF users_hash_part 
FOR VALUES WITH (modulus 8, remainder 7)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [19]:
%%sql

INSERT INTO users_hash_part
    (user_first_name, user_last_name, user_email_id, created_dt)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', '2018-10-01'),
    ('Donald', 'Duck', 'donald@duck.com', '2019-02-10'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', '2017-06-22')

 * postgresql://mako:***@pg.itversity.com:5432/mako
3 rows affected.

[]

In [20]:
%sql select * from users_hash_part

 * postgresql://mako:***@pg.itversity.com:5432/mako
3 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2018, 10, 1), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2017, 6, 22), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2019, 2, 10), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922))]

In [23]:
%sql select * from users_hash_module_8

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2018, 10, 1), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922))]

In [24]:
%sql select * from  users_hash_part_1_of_8

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2017, 6, 22), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922))]

In [25]:
%sql select * from  users_hash_part_2_of_8

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2019, 2, 10), datetime.datetime(2022, 8, 18, 6, 5, 40, 634922))]