## Manipulating dict

Let us understand how we can manipulate the dicts in Python.

In [1]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [2]:
d['commission_pct'] = 10 # Adding Element

In [4]:
d['phone_numbers'] = 1234567890

In [5]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 10,
 'phone_numbers': 1234567890}

In [6]:
d['amount'] = 1500.0

In [7]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1500.0,
 'commission_pct': 10,
 'phone_numbers': 1234567890}

In [8]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [9]:
d.setdefault('amount')

1000.0

In [10]:
d.setdefault('commission_pct')

In [11]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': None}

In [12]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [13]:
d

{'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [15]:
d.setdefault('commission_pct', 0)

0

In [16]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 0}

In [17]:
d.setdefault('commission_pct', 100)

0

In [18]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 0}

In [14]:
d = {'id': 1}

In [15]:
d

{'id': 1}

In [16]:
d.update({'first_name': 'Donald', 'last_name': 'Duck'})

In [17]:
d

{'id': 1, 'first_name': 'Donald', 'last_name': 'Duck'}

In [18]:
d.update([('amount', 1000.0), ('commission_pct', 10)])

In [19]:
d

{'id': 1,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1000.0,
 'commission_pct': 10}

In [20]:
d.update([('amount', 1500.0), ('commission_pct', 5), ('phone_numbers', 1234567890)])

In [27]:
d

{'id': 1,
 'first_name': 'Donald',
 'last_name': 'Duck',
 'amount': 1500.0,
 'commission_pct': 5,
 'phone_numbers': 1234567890}

In [21]:
d = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [22]:
d['commission_pct'] = 10 # Adding Element

In [23]:
d['phone_numbers'] = 1234567890

In [24]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 10,
 'phone_numbers': 1234567890}

In [28]:
d.pop('first_name')

'Scott'

In [29]:
d

{'id': 1, 'last_name': 'Tiger', 'amount': 1000.0, 'commission_pct': 10}

In [31]:
d.pop('last_name') # throws KeyError

'Tiger'

In [33]:
d

{'id': 1, 'amount': 1000.0, 'commission_pct': 10}

In [32]:
d.pop('phone_numbers', 'No such key exists')

'No such key exists'

In [37]:
d

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'commission_pct': 10}

In [34]:
d.popitem()

('commission_pct', 10)

In [40]:
d

{'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [35]:
# All attribute names are of type str and values are of type int, str or float
data = {'id': 1, 'first_name': 'Scott', 'last_name': 'Tiger', 'amount': 1000.0}

In [36]:
for key in d.keys():
    print(f'type of attribute name {key} is {type(key)}')

type of attribute name id is <class 'str'>
type of attribute name amount is <class 'str'>

In [37]:
for value in d.values():
    print(f'type of value {value} is {type(value)}')

type of value 1 is <class 'int'>
type of value 1000.0 is <class 'float'>

In [41]:
data.update([('phone_numbers', [1234567890, 2345679180])])
data

{'id': 1,
 'first_name': 'Scott',
 'last_name': 'Tiger',
 'amount': 1000.0,
 'phone_numbers': [1234567890, 2345679180]}

In [45]:
type(data['phone_numbers'])

list

In [46]:
data['address'] = {'street': '1234 ABC Towers', 'city': 'Round Rock', 'state': 'Texas', 'zip': 78664}

In [49]:
type(data['address'])

dict

In [50]:
for value in d.values():
    print(f'type of value {value} is {type(value)}')

type of value 1 is <class 'int'>
type of value 1000.0 is <class 'float'>

In [51]:
order_item_subtotals = {
    1: [299.98],
    2: [199.99, 250.0, 129.99],
    4: [49.98, 150.0, 199.92],
    5: [299.98, 299.95, 99.96, 299.98, 129.99],
    7: [199.99, 299.98, 79.95],
    8: [179.97, 299.95, 199.92, 50.0]
}

In [52]:
list(order_item_subtotals.items())

[(1, [299.98]),
 (2, [199.99, 250.0, 129.99]),
 (4, [49.98, 150.0, 199.92]),
 (5, [299.98, 299.95, 99.96, 299.98, 129.99]),
 (7, [199.99, 299.98, 79.95]),
 (8, [179.97, 299.95, 199.92, 50.0])]

In [55]:
item = list(order_item_subtotals.items())[2]
item

(4, [49.98, 150.0, 199.92])