### USING CASE AND WHEN

In [1]:
%load_ext sql

In [2]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [3]:
%%sql

CREATE TABLE IF NOT EXISTS sales(
    sales_person_id INT,
    sales_amount FLOAT,
    commission_pct INT
)

Done.

[]

In [4]:
%%sql

INSERT INTO sales VALUES
    (1, 1000, 10),
    (2, 1500, 8),
    (3, 500, NULL),
    (4, 800, 5),
    (5, 250, NULL)

 * postgresql://mako:***@pg.itversity.com:5432/mako
5 rows affected.

[]

In [15]:
%%sql 
select * from sales

 * postgresql://mako:***@pg.itversity.com:5432/mako
5 rows affected.

[(1, 1000.0, 10),
 (2, 1500.0, 8),
 (3, 500.0, None),
 (4, 800.0, 5),
 (5, 250.0, None)]

In [17]:
%%sql
SELECT s.*,
    CASE WHEN commission_pct IS NOT NULL 
        THEN round((sales_amount * commission_pct / 100)::numeric, 2)
    ELSE 0
    END AS commission_amount
FROM sales s

 * postgresql://mako:***@pg.itversity.com:5432/mako
(psycopg2.errors.GroupingError) column "s.sales_person_id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT s.*, CASE WHEN commission_pct IS NOT NULL
               ^

[SQL: SELECT s.*, CASE WHEN commission_pct IS NOT NULL
        THEN  sum(sales_amount)
    ELSE 0
    END AS commission_amount
FROM sales s]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [23]:
%%sql 
SELECT s.*,
    CASE WHEN commission_pct =8
         THEN round(sales_amount)
    ELSE 0
    END AS commsion_ammount

FROM sales s

 * postgresql://mako:***@pg.itversity.com:5432/mako
5 rows affected.

[(1, 1000.0, 10, 0.0),
 (2, 1500.0, 8, 1500.0),
 (3, 500.0, None, 0.0),
 (4, 800.0, 5, 0.0),
 (5, 250.0, None, 0.0)]

In [24]:
%%sql 
select * from orders limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [32]:
%%sql 
SELECT o.*, 
    CASE WHEN order_status in ('CLOSED','COMPLETE')
         THEN 'Completed'
    ELSE 'Not Completed'
    END AS  update_order_status
FROM orders o limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED', 'Completed'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 'Not Completed'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE', 'Completed'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 'Completed'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 'Completed'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE', 'Completed'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE', 'Completed'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING', 'Not Completed'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT', 'Not Completed'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT', 'Not Completed')]

In [ ]:
##PENDING_PAYMENT,PROCESSING	 -- Still

In [36]:
%%sql 
SELECT o.* , 
     CASE 
        WHEN order_status in('PENDING_PAYMENT','PROCESSING') THEN 'PROCESSS'
        WHEN order_status in ('CLOSED','COMPLETE') THEN 'COMPLETED'
     ELSE order_status
     END AS updated_order_status
    
from orders o limit 10

 * postgresql://mako:***@pg.itversity.com:5432/mako
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED', 'COMPLETED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 'PROCESSS'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE', 'COMPLETED'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 'COMPLETED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 'COMPLETED'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE', 'COMPLETED'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE', 'COMPLETED'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING', 'PROCESSS'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT', 'PROCESSS'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT', 'PROCESSS')]