#### Exercises - Partitioning Tables

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
##database 
%env DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

env: DATABASE_URL=postgresql://mako:mako@pg.itversity.com:5432/mako

In [5]:
%sql select * from orders limit 3

 * postgresql://mako:***@pg.itversity.com:5432/mako
3 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE')]

In [6]:
%%sql

CREATE TABLE orders_part (
    order_id INT,
    order_date DATE,
    order_customer_id INT,
    order_status VARCHAR(45)
) PARTITION BY RANGE (order_date)

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [9]:
%sql select * from orders_part

 * postgresql://mako:***@pg.itversity.com:5432/mako
0 rows affected.

[]

Exercise 1¶
Create table orders_part with the same columns as orders.

Partition the table by month using range partitioning on order_date.

Add 14 partitions - 13 based up on the data and 1 default. Here is the naming convention.

Default - orders_part_default

Partition for 2014 January - orders_part_201401

In [10]:
%%sql

CREATE TABLE orders_part_default
PARTITION OF orders_part DEFAULT

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [11]:
%%sql 

CREATE TABLE orders_part_by_date 
PARTITION OF orders_part 
FOR VALUES FROM  ('2013-07-01') TO ('2013-08-01')

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [12]:
%%sql

CREATE TABLE orders_part_201308
PARTITION OF orders_part
FOR VALUES FROM ('2013-08-01') TO ('2013-09-01')

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

In [13]:
%%sql

CREATE TABLE orders_part_201309
PARTITION OF orders_part
FOR VALUES FROM ('2013-09-01') TO ('2013-10-01')

 * postgresql://mako:***@pg.itversity.com:5432/mako
Done.

[]

Exercise 2¶
Let us load and validate data in the partitioned table.

Load the data from orders into orders_part.

Get count on orders_part as well as all the 14 partitions. You should get 0 for default partition and all the records should be distributed using the other 13 partitions

In [17]:
##LOUDING DATA FROM ORDERS INTO ORDERS_PART 
%sql INSERT INTO orders_part SELECT * FROM orders

 * postgresql://mako:***@pg.itversity.com:5432/mako
68883 rows affected.

[]

In [19]:

%%sql

SELECT count(1) FROM orders_part
WHERE to_char(order_date, 'yyyy-MM') = '2014-01'

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(5908,)]

In [24]:
%%sql 
SELECT count(1) FROM orders_part_201309

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(5841,)]

In [25]:
%%sql 
SELECT count(1) FROM orders_part_201308

 * postgresql://mako:***@pg.itversity.com:5432/mako
1 rows affected.

[(5680,)]